NodeRedFlow.txt
[{"id":"3aeb6329.08adec","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"22a1ad5c.d53232","type":"function","z":"3aeb6329.08adec","name":"PreToken","func":"global.set(\"NV\",msg.payload.NV)\nglobal.set(\"r1\",msg.payload.r1)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"lc\",msg.payload.lc)\nglobal.set(\"wc\",msg.payload.wc)\nglobal.set(\"cs\",msg.payload.cs)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"ac\",msg.payload.ac)\nglobal.set(\"tv\",msg.payload.tv)\nglobal.set(\"cc\",msg.payload.cc)\n\nvar apikey=\"Xefb6DpbmdwQkBpUXBroB8P6WN9MQCc1OhxcVmTQpvV3\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["860c04ef.32a708"]]},{"id":"860c04ef.32a708","type":"http request","z":"3aeb6329.08adec","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["29ac0ebe.3e3f42"]]},{"id":"afd00c8e.bdf748","type":"inject","z":"3aeb6329.08adec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["22a1ad5c.d53232"]]},{"id":"9189546c.5bb84","type":"debug","z":"3aeb6329.08adec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"29ac0ebe.3e3f42","type":"function","z":"3aeb6329.08adec","name":"Pre Prediction","func":"var NV = global.get(\"NV\")\nvar r1= global.get(\"r1\")\nvar rs= global.get(\"rs\")\nvar lc= global.get(\"lc\")\nvar wc= global.get(\"wc\")\nvar cs= global.get(\"cs\")\nvar sc= global.get(\"sc\")\nvar ac= global.get(\"ac\")\nvar tv= global.get(\"tv\")\nvar cc= global.get(\"cc\")\nvar token=msg.payload.access_token\nvar instance_id=\"ebc2147e-1db2-48cb-9e62-ce255c5790e4\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Number of Vehicles\",\"1st Road Class\",\"Road Surface\",\"Lighting Conditions\",\"Weather Conditions\",\"Casualty Class\",\"Casualty Severity\",\"Sex of Casualty \",\"Age of Casualty\",\"Type of Vehicle\"],\"values\":[[3,1,1,1,1,1,3,1,25,9]]}\nreturn msg;","outputs":1,"noerr":0,"x":651.0000076293945,"y":268.00000381469727,"wires":[["7f3ef0aa.89985"]]},{"id":"7f3ef0aa.89985","type":"http request","z":"3aeb6329.08adec","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ebc2147e-1db2-48cb-9e62-ce255c5790e4/deployments/c2bc5ca7-3784-41a1-b744-a07de14c53b7/online","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["acb089bc.90e108"]]},{"id":"f3dd4886.0a165","type":"ui_form","z":"3aeb6329.08adec","name":"","label":"","group":"84bcb7ef.bc8d3","order":0,"width":0,"height":0,"options":[{"label":"Number of Vehicles ","value":"NV","type":"number","required":true,"rows":null},{"label":"1st Road Class","value":"r1","type":"number","required":true,"rows":null},{"label":"Road Surface ","value":"rs","type":"number","required":true,"rows":null},{"label":"Lighting Conditions ","value":"lc","type":"number","required":true,"rows":null},{"label":"Weather Conditions","value":"wc","type":"number","required":true,"rows":null},{"label":"Casualty Class   ","value":"cc","type":"number","required":true,"rows":null},{"label":"Casualty Severity","value":"cs","type":"number","required":true,"rows":null},{"label":"Sex of Casualty ","value":"sc","type":"number","required":true,"rows":null},{"label":"Age of Casualty  ","value":"ac","type":"number","required":true,"rows":null},{"label":"Type of Vehicle ","value":"tv","type":"number","required":true,"rows":null}],"formValue":{"NV":"","r1":"","rs":"","lc":"","wc":"","cc":"","cs":"","sc":"","ac":"","tv":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["22a1ad5c.d53232"]]},{"id":"557984a9.9a01c4","type":"ui_text","z":"3aeb6329.08adec","group":"84bcb7ef.bc8d3","order":1,"width":0,"height":0,"name":"RATE OF ROAD ACCIDENTS","label":"Rate of Number of Causualities","format":"{{msg.payload}}","layout":"row-left","x":852.6000366210938,"y":364.20001220703125,"wires":[]},{"id":"acb089bc.90e108","type":"function","z":"3aeb6329.08adec","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":604.6000366210938,"y":107.60000610351562,"wires":[["9189546c.5bb84","557984a9.9a01c4"]]},{"id":"84bcb7ef.bc8d3","type":"ui_group","z":"","name":"RATE OF ROAD ACCIDENTS","tab":"e0a0d187.a47de8","disp":true,"width":"6","collapse":false},{"id":"e0a0d187.a47de8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]